.container {
    inline-size: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}

.castList {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.castLi {
    background-color: #ffffff6e;
    inline-size: calc((100% - 20px) / 10);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-inline-end: 24px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}